<form #addTransactionForm="ngForm" (ngSubmit)="checkBudgetBeforeAdd1()">
  <div class="transaction-wrapper">
    <div class="buttons">
      <button class="spending" [class.inactive]="selectedType === 'chi'" (click)="selectType('chi')"
        type="button">Spending</button>
      <button class="income" [class.inactive]="selectedType === 'thu'" (click)="selectType('thu')"
        type="button">Income</button>
    </div>

    <div class="transaction-form">
      <div class="form-row">
        <label>Amount</label>
        <input type="number" [(ngModel)]="amount" name="amount" required #amountInput="ngModel"
          [ngClass]="{'invalid': amountInput.invalid && amountInput.touched}" placeholder="Enter amount">
      </div>

      <div class="form-row">
        <label>Category</label>
        <select [(ngModel)]="categoryName" name="categoryName" required #categoryInput="ngModel"
          (focus)="addTransactionForm.form.markAsTouched()">
          <option *ngFor="let category of categories" [value]="category.name">
            {{ category.name }}
          </option>
        </select>
      </div>

      <div class="form-row">
        <label>Transaction date</label>
        <input type="datetime-local" [(ngModel)]="dateTime" name="dateTime" required #dateInput="ngModel"
          [ngClass]="{'invalid': dateInput.invalid && dateInput.touched}">
      </div>

      <div class="form-row">
        <label>Source of funds</label>
        <select [(ngModel)]="moneySourceName" name="moneySourceName" required #sourceInput="ngModel"
          (focus)="addTransactionForm.form.markAsTouched()">
          <option *ngFor="let moneySource of moneySources" [value]="moneySource.name">
                    {{ moneySource.name }}
                </option>
        </select>
      </div>

      <div class="form-row">
        <label>Notice</label>
        <textarea placeholder="Add note" [(ngModel)]="notice" name="notice" #noticeInput="ngModel"
          [ngClass]="{'invalid': noticeInput.invalid && noticeInput.touched}"></textarea>
      </div>

      <button type="submit" class="add-button">Thêm giao dịch</button>
    </div>
  </div>
</form>