<div class="content">
    <div class="transaction-table-container">
        <div class="transaction-table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Amount</th>
                        <th>Date time</th>
                        <th>Category</th>
                        <th>Type</th>
                        <th>Note</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0</td>
                        <td class="income">-900.000đ</td>
                        <td>24/06/2025 12:03:02</td>
                        <td>Đồ ăn</td>
                        <td>Chi tiêu</td>
                        <td>Đi ăn với bạn bè</td>
                        <td class="actions">
                            <button class="edit-btn" title="Sửa"><i class="fas fa-edit"></i></button>
                            <button class="delete-btn" title="Xóa"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>