<div id="interface" class="section">
    <h2>Interface</h2>

    <div class="interface-option">
        <div class="option-label">Background</div>
        <div class="option-value">
            <div class="color-options">
                <div class="color-circle blue selected"></div>
                <div class="color-circle white"></div>
                <div class="color-circle gray"></div>
            </div>
        </div>
        <button class="change-button">Change</button>
    </div>

    <div class="interface-option">
        <div class="option-label">Font-family</div>
        <div class="option-value">Inter</div>
        <button class="change-button">Change</button>
    </div>

    <div class="interface-option">
        <div class="option-label">Color-text</div>
        <div class="option-value">
            <div class="color-options">
                <div class="color-circle blue selected"></div>
                <div class="color-circle white"></div>
            </div>
        </div>
        <button class="change-button">Change</button>
    </div>

    <button class="reset-button">Setting all default</button>
</div>