<div class="container">
    <div class="forms-container">
        <div class="login-section">
            <div class="left-section">
                <h1>LOG IN</h1>
            </div>
            <div class="right-section">
                <div class="login-container">
                    <form class="login-form-1" id="loginForm-1" (ngSubmit)="onSubmit()" #loginForm_1="ngForm">
                        <h2>LOG IN</h2>
                        <div *ngIf="errorMessage" class="error-message">
                            {{ errorMessage }}
                        </div>
                        <div class="input-box">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" placeholder="Username" required [(ngModel)]="username" name="username" />
                        </div>
                        <div class="input-box">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" placeholder="Password" required [(ngModel)]="password" name="password" />
                        </div>
                        <div class="remember">
                            <input type="checkbox" id="remember" />
                            <label for="remember">Remember for 30 days</label>
                        </div>
                        <button type="submit" class="login-button" [disabled]="isLoading">
                            <span *ngIf="!isLoading">LOGIN</span>
                            <span *ngIf="isLoading">Loading...</span>
                        </button>
                        <div class="social-login">
                            <p class="divider">or continue with</p>
                            <div class="social-buttons">
                                <button type="button" class="facebook-button">
                                    <i class="fab fa-facebook-f"></i>
                                </button>
                                <button type="button" class="google-button">
                                    <img src="https://developers.google.com/identity/images/g-logo.png"
                                        alt="Google logo" />
                                </button>
                            </div>
                        </div>

                        <p class="signup-link">Don't have an account? <a (click)="navigateToSignup()" href="javascript:void(0)">Signup</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>