<form #addBudgetForm = "ngForm">
    <div class="budget-form">
        <div class="form-group">
            <label for="amount">Amount</label>
            <input [(ngModel)]="amount" (input)="onAmountChange()" 
            (focus) = "addBudgetForm.form.markAsTouched()" 
            required type="number" 
            name="amount"
            id="amount">
            <p class="text-danger" 
            *ngIf="amount == 0 && addBudgetForm.form.touched ">
                Nhập số tiền lớn hơn 0</p>
        </div>

        <div class="form-group">
            <label for="category">Category</label>
            <!-- <input type="text" id="category" placeholder="Chọn danh mục"> -->
            <select [(ngModel)]="category" 
            (change)="onCategoryChange()" required
            name="category" id="category"
            (focus) = "addBudgetForm.form.markAsTouched()"
            >
                <option value="">Select source</option>
                <option value="cash">Cash</option>
                <option value="bank">Bank</option>
                <option value="credit">Credit Card</option>
            </select>
            <p class="text-danger"
            *ngIf="category == '' && addBudgetForm.form.touched">
                Chọn danh mục</p>
        </div>

        <div class="form-group">
            <label for="date">Transaction date</label>
            <input [(ngModel)]="transactionDate" 
            type="date" 
            (input)="onTransactionDateChange()" required
            name="transactionDate" id="date">
        </div>

        <div class="form-group">
            <label for="notice">Notice</label>
            <input type="text" id="notice" placeholder="Nhập ghi chú" [(ngModel)]="notice" (input)="onNoticeChange()">
        </div>

        <button (click)="onCreateBudget()" class="create-btn">Tạo ngân sách</button>
    </div>
</form>