<div class="topbar">
    <div class="search-box">
        <input type="text" placeholder="Search for product" />
        <a href="#"><i class="fas fa-search"></i></a>
    </div>
    <div class="date-picker">
        <input type="date" class="custom-date" id="date-input" />
        <i class="fas fa-calendar-alt custom-calendar-icon" id="calendar-icon"></i>
    </div>
    <div class="user-box">
        <span>Trần A</span>
        <div class="user-icon"><a href="#"><i class="fas fa-user"></i></a></div>
    </div>
</div>