<div class="container">
    <aside class="sidebar">
      <div class="logo">LOGO</div>
      <nav class="nav">
        <button class="nav-item active" data-section="home"><i class="fas fa-home"></i>Home</button>
        <button class="nav-item" data-section="transaction"><i class="fas fa-clock"></i>Transaction History</button>
        <button class="nav-item" data-section="income"><i class="fas fa-credit-card"></i>Income & Outcome</button>
        <button class="nav-item" data-section="budget"><i class="fas fa-list"></i>Budgeting</button>
        <button class="nav-item" data-section="setting"><i class="fas fa-cog"></i>Setting</button>
      </nav>
    </aside>
    <main class="main">
      <div class="topbar">
        <div class="search-box">
          <input type="text" placeholder="Search for product" />
          <a href="#"><i class="fas fa-search"></i></a>
        </div>
        <div class="date-picker">
          <input type="date" class="custom-date" id="date-input" />
          <i class="fas fa-calendar-alt custom-calendar-icon" id="calendar-icon"></i>
        </div>
        <div class="user-box">
          <span>Trần A</span>
          <div class="user-icon"><a href="#"><i class="fas fa-user"></i></a></div>
        </div>
      </div>
      <app-content *ngIf="activeSection === 'edit-profile'"></app-content>
      <app-setting></app-setting>
    </main>

</div>


    