<form class="signup-form" id="signupForm" (ngSubmit)="onSubmit()" #signupForm="ngForm">
  <h2>SIGN UP</h2>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <div class="input-box">
    <i class="fa-solid fa-user"></i>
    <input type="text" placeholder="Username" required [(ngModel)]="userData.username" name="username" />
  </div>
  <div class="name">
    <div class="input-box-name">
      <i class="fa-solid fa-address-card"></i>
      <input type="text" placeholder="First name" required [(ngModel)]="userData.firstName" name="firstName" />
    </div>
    <div class="input-box-name">
      <i class="fa-solid fa-signature"></i>
      <input type="text" placeholder="Last name" required [(ngModel)]="userData.lastName" name="lastName" />
    </div>
  </div>
  <div class="input-box">
    <i class="fa-solid fa-envelope"></i>
    <input type="email" placeholder="Email" required [(ngModel)]="userData.email" name="email" />
  </div>
  <div class="input-box">
    <i class="fa-solid fa-lock"></i>
    <input type="password" id="password" placeholder="Password" required [(ngModel)]="userData.password"
      name="password" />
  </div>
  <div class="input-box">
    <i class="fa-solid fa-key"></i>
    <input type="password" id="confirmPassword" placeholder="Re-enter password" required
      [(ngModel)]="userData.confirmPassword" name="confirmPassword" />
  </div>
  <div class="show-password">
    <input type="checkbox" id="show-password" (change)="onShowPassword($event)" />
    <label for="show-password">Show password</label>
  </div>
  <button type="submit" class="login-button" [disabled]="isLoading">
    <span *ngIf="!isLoading">SIGNUP</span>
    <span *ngIf="isLoading">Loading...</span>
  </button>

  <div class="social-signup">
    <p class="divider">or continue with</p>
    <div class="social-buttons">
      <button type="button" class="facebook-button">
        <i class="fab fa-facebook-f"></i>
      </button>
      <button type="button" class="google-button">
        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo" />
      </button>
    </div>
  </div>

  <p class="login-link">
    Already have an account?
    <a (click)="navigateToLogin()" href="javascript:void(0)">Login</a>
  </p>
</form>